/*
Import Fonts
font-family: 'Calligraffitti', cursive;
font-family: 'IM Fell Great Primer', serif;
font-family: 'Allan', cursive;

Logo Color:  color: #445976;
*/
@import url('https://fonts.googleapis.com/css?family=Allan|Calligraffitti|IM+Fell+Great+Primer:400i');

/*Custom classes used for testing purposes*/
.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

/*Custom css needed to overwrite Bootstrap, shared by all pages*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
  }
  
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell Great Primer', serif !important;
    color: #1F2936;
}


.container-top {
    border-bottom: solid;
    border-color: #1F2936;
    background-color: white;
}

.container-bottom {
    border-top: solid;
    border-color: #1F2936;
    background-color: white;
}

.navbar-brand {
    font-family: 'IM Fell Great Primer', serif !important;
    color: #445976 !important;
    font-size: 2.5rem;
    line-height: 1.0;
    background-color: inherit;
}



.nav,
.nav-item,
.nav-link,
.navbar-light {
    font-family: 'IM Fell Great Primer', serif !important;
    color: #1F2936;
    font-size: 1.3rem;
    line-height: 1.0;
    text-decoration: none;
    background-color: inherit;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(31, 41, 54, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(31, 41, 54, 0.5);
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 1em;
    border-style: solid;
    border-color: red;
} 
